.json-item {
  list-style: none;

  li {
    margin-bottom: 1rem;
  }
}

.json-item-key {
  font-weight: bold;
}

.json-list-nested {
  height: auto;
  margin-left: 2rem;
}

.collapse {
  display: none;
}
.expand {
  display: block;
}
.collapsed {
  .collapse {
    display: block;
  }

  .expand {
    display: none;
  }

  + .json-list-nested {
    height: 0;
    overflow: hidden;
  }
}
