
<ul class="json-item" [ngClass]="{'collapsed': item.collapsed}" *ngFor="let item of jsonData | keyvalue; let i=index">
  <li>

    <button *ngIf="item.value && getValueType(item.value) && getValLenght(item.value) > 1" type="button" [ngClass]="{'collapsed': item.collapsed}" (click)="item.collapsed = !item.collapsed">
      <span class="expand">-</span>
      <span class="collapse">+</span>
    </button>
    "{{item.key}}": {{item.value && !getValueType(item.value) ? item.value  : ''}}
    <div class="json-list-nested">
      <app-json-item [jsonData]="item.value"></app-json-item>
    </div>
  </li>
</ul>
